* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #ec77ec;
    color: white;
    padding: 20px;
    text-align: center;
}

#mode-toggle {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

section {
    padding: 20px;
    margin: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

h2 {
    margin-bottom: 10px;
    color: #921477b0;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #a72495;
    text-decoration: none;
}

footer {
    background-color: #cf76cf;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
}

/* Dark mode */
.dark-mode {
    background-color: #1d121b;
    color: #f4f4f4;
}

.dark-mode header {
    background-color: #802b9686;
}

.dark-mode footer {
    background-color: #7b168f;
}

.dark-mode #mode-toggle {
    background-color: #f4f4f4;
    color: #333;
}

